{% extends "layout.html" %}

{% block body %}
  <h2>募集終了プロジェクト一覧</h2>
  <form id="project_form" action="/project/end/list" method="post" enctype="multipart/form-data">
    <dl>
      <dt><label for="project_id">プロジェクトID</label>
      <dd><input type=text size=20 name=project_id value="{{ project_form.project_id.data if project_form.project_id.data }}">
      <dt><label for="project_id">プロジェクト名</label>
      <dd><input type=text size=20 name=project_title value="{{ project_form.project_title.data if project_form.project_title.data }}">

      <dd style="word-break: break-all;">期限日
        <input name="project_end_datetime_min" class="datepicker hasDatepicker" id="project_end_datetime_min_id" type="text">
          							～
        <input name="project_end_datetime_max" class="datepicker hasDatepicker" id="project_end_datetime_max_id" type="text">

      <dt><label for="project_memo_status">事後処理</label>
        <input name="project_memo_status" value="1" id="project_memo_status_id_1" type="radio">
        <label for="project_memo_status_id_1">未対応</label>
        <input name="project_memo_status" value="2" id="project_memo_status_id_2" type="radio">
        <label for="project_memo_status_id_2">処理中</label>
        <input name="project_memo_status" value="3" id="project_memo_status_id_3" type="radio">
        <label for="project_memo_status_id_3">対応済</label>

        <input type="hidden" name="list_type" value="ProjectEndList">
      <dd><input type=submit value='検索'>
    </dl>
  </form>


	<table class="sheet">
		<thead>
			<tr>
				<th>ID</th>
				<th>タイトル</th>
        <th>公開ステータス</th>
        <th>目標ステータス</th>
        <th>承認ステータス</th>
        <th>目標金額</th>
        <th>人気順</th>
        <th>サポート金額</th>
			</tr>
		</thead>

		<tbody>
		{% if projects %}
			{% for project in projects %}
			<tr>
        <td><a href="{{ url_for('project_edit', project_id=project.project_id) }}">edit</a> <a href="{{ url_for('project_delete', _method='DELETE', project_id=project.project_id) }}">del</a>{{ project.project_id }}</td>
        <td>{{ project.project_title }}</td>
				<td>{{ project.project_public_status }}</td>
        <td>{{ project.project_target_status }}</td>
        <td>{{ project.project_is_approval }}</td>
        <td>{{ project.project_target_amount }}</td>
        <td>{{ project.project_popular_order }}</td>
        <td>{{ project.user_support_amount }}</td>
			</tr>
			{% endfor %}
		{% else %}
		{% endif %}
		</tbody>
	</table>
  <a href="/project/list?list_type=ProjectList">プロジェクト一覧</a><br/>
  <a href="/project/no_approve/list?list_type=ProjectNoApproveList">プロジェクト未承認一覧</a><br/>
  <a href="/project/waiting/list?list_type=ProjectWaitingList">プロジェクト開始待ち一覧</a><br/>
  <a href="/project/running/list?list_type=ProjectRunningList">プロジェクト進行中一覧</a><br/>
  <a href="/project/success/list?list_type=ProjectSuccessList">プロジェクト目標達成一覧</a><br/>
  <a href="/project/un_success/list?list_type=ProjectUnSuccessList">プロジェクト未達一覧</a><br/>
  <a href="/project/end/list?list_type=ProjectEndList">プロジェクト終了一覧</a><br/>
{% endblock body %}
