{% extends "layout.html" %}

{% block body %}
  <h2>進行中プロジェクト一覧</h2>
  <form action="/project/running/list" method="post">
    <dl>
      <dt><label for="project_id">プロジェクトID</label>
      <dd><input type=text size=20 name=project_id value="{{ input_project_id if input_project_id }}">

      <dt><label for="project_type">プロジェクトの種類</label>
        <input name="project_type" value="1" id="project_type_id_1" type="radio">
        <label for="project_type_id_1">実施確約型</label>
        <input name="project_type" value="2" id="project_type_id_2" type="radio">
        <label for="project_type_id_2">チャレンジ型</label>
        <input name="project_type" value="3" id="project_type_id_3" type="radio">
        <label for="project_type_id_3">プレオーダー型</label>

      <dd style="word-break: break-all;">
        <label for="project_start_datetime">開始日</label>
        <input name="project_start_datetime_min" class="datepicker hasDatepicker" id="project_start_datetime_min_id" type="text">
            							～
        <input name="project_start_datetime_max" class="datepicker hasDatepicker" id="project_start_datetime_max_id" type="text">

      <dd>
        <label for="search_project_public_status">公開ステータス</label>
        <select name="project_public_status" id="project_public_status">
        	<option value="">全て</option>
        	<option value="2,3">公開中</option>
        	<option value="4">非公開 </option>
        </select>

        <label for="search_project_target_status" class="gray">達成状況</label>
        <select name="project_target_status" id="search_project_target_status">
        	<option value="">全て</option>
        	<option value="3">達成</option>
        	<option value="4">募集中</option>
        </select>

      <dt><label for="project_keyword">キーワード(*)</label>
      <dd><input type=text size=20 name=project_keyword value="{{ input_keyword if input_keyword }}">

      <input type="hidden" name="list_type" value="ProjectRunningList">
      <dd><input type=submit value='検索'>
    </dl>
  </form>

	<table class="sheet">
		<thead>
			<tr>
				<th>ID</th>
				<th>タイトル</th>
        <th>公開ステータス</th>
        <th>目標ステータス</th>
        <th>承認ステータス</th>
        <th>目標金額</th>
        <th>人気順</th>
        <th>サポート金額</th>
			</tr>
		</thead>

		<tbody>
		{% if projects %}
			{% for project in projects %}
			<tr>
        <td><a href="{{ url_for('project_edit', project_id=project.project_id) }}">edit</a> <a href="{{ url_for('project_delete', _method='DELETE', project_id=project.project_id) }}">del</a>{{ project.project_id }}</td>
        <td>{{ project.project_title }}</td>
				<td>{{ project.project_public_status }}</td>
        <td>{{ project.project_target_status }}</td>
        <td>{{ project.project_is_approval }}</td>
        <td>{{ project.project_target_amount }}</td>
        <td>{{ project.project_popular_order }}</td>
        <td>{{ project.user_support_amount }}</td>
			</tr>
			{% endfor %}
		{% else %}
		{% endif %}
		</tbody>
	</table>
  <a href="/project/list?list_type=ProjectList">プロジェクト一覧</a><br/>
  <a href="/project/no_approve/list?list_type=ProjectNoApproveList">プロジェクト未承認一覧</a><br/>
  <a href="/project/waiting/list?list_type=ProjectWaitingList">プロジェクト開始待ち一覧</a><br/>
  <a href="/project/running/list?list_type=ProjectRunningList">プロジェクト進行中一覧</a><br/>
  <a href="/project/success/list?list_type=ProjectSuccessList">プロジェクト目標達成一覧</a><br/>
  <a href="/project/un_success/list?list_type=ProjectUnSuccessList">プロジェクト未達一覧</a><br/>
  <a href="/project/end/list?list_type=ProjectEndList">プロジェクト終了一覧</a><br/>

{% endblock body %}
