{% extends "layout.html" %}

{% block body %}
  <h2>募集終了プロジェクト一覧</h2>


  <h2>{{ 'Edit Project' if projects else 'Add Project'}}</h2>
  <form action="/project/list" method="post">
    <dl>
      <dt>ID:
      <dd><input type=text size=20 name=project_id value="{{ input_project_id if input_project_id }}">
      <dt>ピックアップ:
      <dd><input name="project_is_pickup" value="{{ input_project_is_pickup if input_project_is_pickup }}" id="project_is_pickup_id" type="checkbox">
      <dt>話題のプロジェクト:
      <dd><input name="project_popular_order" value="{{ input_project_popular_order if input_project_popular_order }}" id="project_popular_order_id" type="checkbox">

      <dt>プロジェクトの種類:
        <input name="project_type" value="1" id="project_type_id_1" type="radio">
        <label for="project_type_id_1">実施確約型</label>
        <input name="project_type" value="2" id="project_type_id_2" type="radio">
        <label for="project_type_id_2">チャレンジ型</label>
        <input name="project_type" value="3" id="project_type_id_3" type="radio">
        <label for="project_type_id_3">プレオーダー型</label>

      <dt>キーワード(*):
      <dd><input type=text size=20 name=project_keyword value="{{ input_keyword if input_keyword }}">

      <dt>公開ステータス(*):
      <dd><input type=text size=20 name=project_target_status value="{{ input_project_target_status if input_project_target_status }}">
        <input type="hidden" name="list_type" value="ProjectEndList">
      <dd><input type=submit value='検索'>
    </dl>
  </form>


	<table class="sheet">
		<thead>
			<tr>
				<th>ID</th>
				<th>タイトル</th>
        <th>公開ステータス</th>
        <th>目標ステータス</th>
        <th>承認ステータス</th>
        <th>目標金額</th>
        <th>人気順</th>
        <th>サポート金額</th>
			</tr>
		</thead>

		<tbody>
		{% if projects %}
			{% for project in projects %}
			<tr>
        <td><a href="{{ url_for('project_edit', project_id=project.project_id) }}">edit</a> <a href="{{ url_for('project_delete', _method='DELETE', project_id=project.project_id) }}">del</a>{{ project.project_id }}</td>
        <td>{{ project.project_title }}</td>
				<td>{{ project.project_public_status }}</td>
        <td>{{ project.project_target_status }}</td>
        <td>{{ project.project_is_approval }}</td>
        <td>{{ project.project_target_amount }}</td>
        <td>{{ project.project_popular_order }}</td>
        <td>{{ project.user_support_amount }}</td>
			</tr>
			{% endfor %}
		{% else %}
		{% endif %}
		</tbody>
	</table>

{% endblock body %}
